body{
  background-color: rgb(255, 255, 255);
}
h2 {
  font-weight: 700;
  color: #0d6efd;
}

.card img {
  height: auto;
  object-fit: cover;
}

.carousel-inner img {
  height: 580px;
  width: 890px;
  object-fit: cover;
}

.container .card img {
  height: 410px;
  object-fit: cover;
}

.navbar {
  background-color: rgb(0, 91, 0) !important;
}
.card-body{
  background-color: rgb(255, 255, 255);
}
.text-center{
  color: rgb(0, 91, 0);
}
#cc{
  color: rgb(255, 255, 255);
}
.btn{
  background-color: rgb(0, 91, 0);
  border-color: rgb(0, 91, 0);
}
.btn-primary:hover{
  background-color: green !important ;
  border-color:rgb(0, 91, 0) ;
}
